.seagreen {
  color: #1ABC9C; }

.gris {
  color: #2C3E50; }

.negromate {
  color: #040F0F; }

.purple {
  color: #454ADE; }

.bluefrance {
  color: #3498DB; }

.container-login {
  height: 100%;
  background-image: url("../img/background_login.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  filter: blur(5px); }

.login {
  height: 100%;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 150px;
  padding-bottom: 150px; }

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  background: #FFFFFF;
  border-radius: 10px 10px; }

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px; }

.form-signin .form-control:focus {
  z-index: 2; }

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; }

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0; }
