<nav class="navbar navbar-expand-lg navbar-light ">
  <button type="button" id="sidebarCollapse" class="btn btn-success">
    <i class="fa fa-align-justify fa-1x"></i>
  </button>
<div style="margin: 0px 12px 0px 12px;"></div>
        <div class="btn-group d-block float-left " >
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-cog fa-1x"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                  <button class="dropdown-item" type="button">Cuenta</button>
                  <a class="dropdown-item d-block" href="../model/destroysesion.php">Cerrar sesion</a>
              </div>
      </div>

</nav>
