<nav id="sidebar">
        <div class="sidebar-header">
           
                 <img src="../src/img/yo.jpg" class="mx-auto d-block" alt="" width="120">
               
                 <div class="content-user ">
                        <p class=" name-user text-center mt-3" > Antonio Liborio </p>
                        <p class=" email-user text-center">AntonioLiborio@gmail.com</p>
                 </div>
                 
          
        </div>
        
        
        <ul class="list-unstyled components">
            <li class="">
                 <a href="#"><i class=" fa fa-bookmark fa-1x"></i> Categorias</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-image  fa-1x"></i> Imagenes</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-users  fa-1x"></i> Roles</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-user  fa-1x"></i> Usuarios</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-download  fa-1x"></i> Descargas</a>
            </li>
        </ul>
        
</nav>